body, html {
	padding: 0;
	margin: 0;
}


#wrapper, #glasspane {
	width: 960px; /* match canvas width */
	height: 600px; /* match canvas height */
	padding: 0;
	margin: 20px auto 0px;
}

#wrapper {
	position: relative;
}

canvas {
    display: block;
    outline: 1px solid #000;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

#glasspane {
	position: absolute;
	top: 0px;
	left: 0px;
	margin-top: 0px;
}

#glasspane > div {
	/* Hide all main panels by default */
	display: none; 

	/* Fill space */
	width: 100%;
	height: 100%;
}

#glasspane .centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#glasspane .splash-cover {
	background-size: cover;
	background-repeat: no-repeat;
}

/* LOADER */

	#load-wrapper {
		background: url("../images/load-splash.png");
	}

	#progress-bar-wrapper {
		width: 50%;
		height: 25px;
		border: 1px solid black;
	}

/* MENU */

	#menu-wrapper {
		background: url("../images/menu-splash.jpg"); 
		/* TODO: this one (unlike the load-wrapper) should be preloaded in code */
	}

	#menu {
		text-align: center;
		color: #FFF;
		width: 30%;
	}

	#menu > button {
		margin-top: 10px;
	}

/* HUD */

	.hud-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.5em 1em 0.5em;
	}

	#hud-top {
		font-size: 1.5em;
		font-weight: bold;
	}

	#hud-bot {
		position: absolute;
		width: 100%;
		bottom: 0;
		margin-bottom: 1em;
	}

	.slider-bar {
	  box-sizing: border-box;
	  width: 220px;
	  height: 25px;
	  padding: 4px;
	  border-radius: 5px;
	  background: #333;
	}

	.inner-bar {
	  height: 17px;
	  transition: width .5s linear;
	}

	#health-bar {
		width: 100%;
		background-color: #D33;
	}

	#mana-bar {
		width: 70%;
		background-color: #33D;
	}
